.posts {
    margin-top: 20px;
    padding: 10px;
}
.aboutme img, .websiteprojects img, .skills img, .contact img {
  width: 35%;
}
.aboutme {
  position: relative;
}
.introtext {
  position: absolute;
  bottom: 280px;
  left: 130px;
  font-size: 20pt;
}

  .stickynotes img, .comics img {
    cursor: pointer;
    width: 17.5%;
  }

@media only screen and (max-width: 600px) {
  .introtext {
    
    bottom: 2vh;
    left: 2vh;
    font-size: 2vh;
  }
}
